In [1]:
from geotext import GeoText
import pandas as pd
import numpy as np



tweetdf = pd.read_csv("LOCKDOWN_WFH_test.csv")

userdf = pd.read_csv("LOCKDOWN_WFH_test_user_location.csv")


tweetdf = tweetdf.drop_duplicates(['username', 'tweet'], keep = False)
userdf = userdf.drop_duplicates(subset=['username'])
#userdf
userdf.loc[userdf['username'] == 'micahmorgz']

#tweetdf

C:\Users\Khai Xi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,name,username,bio,location,url,join_date,join_time,tweets,following,followers,likes,media,private,verified,profile_image_url,background_image
1,1107717888796815360,Micaaaaaaaah üçä,micahmorgz,üåôü•Ä she/her,"Los Angeles, CA",NaN,18 Mar 2019,11:58 AM,2311,173,43,14814,74,0,0,https://pbs.twimg.com/profile_images/123105220...,https://pbs.twimg.com/profile_banners/11077178...

In [2]:
master = pd.merge(tweetdf, userdf, on='username', how='left')

master = master[['username', 'date', 'tweet', 'location']]




master = master.dropna(subset=['location'])
master

,username,date,tweet,location
2,micahmorgz,2020-03-18,WFH is horrible. I'm working even more than at...,"Los Angeles, CA"
5,madelineandnine,2020-03-18,Will I start to have full on conversations wit...,"Richmond, VA"
6,evonne28,2020-03-18,"Meanwhile, day 2 of wfh and my back is sore fr...",my own little world
7,amaliaefowler,2020-03-18,"Alright, because I want to maintain an #attitu...","Vancouver, British Columbia"
8,_leoloe,2020-03-18,MacBook battery life isn‚Äôt that poppin but it ...,"Fresno, CA"
...,...,...,...,...
209530,biology_beauty,2020-04-08,I‚Äôm lucky I don‚Äôt have kids I‚Äôm trying to ente...,United States
209531,biology_beauty,2020-04-08,Here‚Äôs the thing. I‚Äôm a rule follower and I‚Äôm ...,United States
209532,kongsbyulbit29,2020-04-08,3 weeks of WFH :\n- work from 6am to 11pm almo...,+62
209535,katesquire,2020-04-08,Like let‚Äôs just light the constitution and the...,Michigan
209537,chyams,2020-04-08,Secrets from a pro on how to help your team fe...,"Sydney, Australia"

In [3]:

master = master.dropna(subset=['location'])

def countrysort(x):
    country = GeoText(x).country_mentions
    if len(country) != 0:
        result = list(country.keys())
        return result[0]
    
print(master.columns)
master['Country'] = master.apply(lambda x: countrysort(x['location']), axis = 1) #or 1

#master.iloc[-50:, :]
test = master.loc[master['Country'].isnull()]
#test.iloc[-100:-50, :]
master

Index(['username', 'date', 'tweet', 'location'], dtype='object')

,username,date,tweet,location,Country
2,micahmorgz,2020-03-18,WFH is horrible. I'm working even more than at...,"Los Angeles, CA",US
5,madelineandnine,2020-03-18,Will I start to have full on conversations wit...,"Richmond, VA",ZA
6,evonne28,2020-03-18,"Meanwhile, day 2 of wfh and my back is sore fr...",my own little world,None
7,amaliaefowler,2020-03-18,"Alright, because I want to maintain an #attitu...","Vancouver, British Columbia",US
8,_leoloe,2020-03-18,MacBook battery life isn‚Äôt that poppin but it ...,"Fresno, CA",US
...,...,...,...,...,...
209530,biology_beauty,2020-04-08,I‚Äôm lucky I don‚Äôt have kids I‚Äôm trying to ente...,United States,US
209531,biology_beauty,2020-04-08,Here‚Äôs the thing. I‚Äôm a rule follower and I‚Äôm ...,United States,US
209532,kongsbyulbit29,2020-04-08,3 weeks of WFH :\n- work from 6am to 11pm almo...,+62,None
209535,katesquire,2020-04-08,Like let‚Äôs just light the constitution and the...,Michigan,US
209537,chyams,2020-04-08,Secrets from a pro on how to help your team fe...,"Sydney, Australia",AU

In [4]:
master = master.sort_values(['Country', 'date'], ascending = [True, True])

master.Country.value_counts()[:50]

US    26683
GB     7052
IN     3660
CA     2670
ID     1482
AU     1283
PH     1042
SG      771
MY      739
ZA      545
IE      505
NZ      371
DE      335
PK      210
JP      202
AE      185
UY      159
BR      154
NG      142
SE      140
TH      139
NL      113
FR       99
ES       96
BE       89
HK       80
GE       79
CH       79
LK       78
UG       57
PT       54
VE       49
IL       49
NO       48
FI       48
KE       45
DK       40
IT       40
MX       36
JM       35
BM       33
KR       31
PL       29
RO       27
AT       27
CR       26
TW       26
NP       25
CO       23
CN       23
Name: Country, dtype: int64

In [8]:
testdf = master.loc[master['Country'] == 'MY']
#testdf['char_Count'] = testdf['tweet'].str.len()
#trimmed = testdf.loc[testdf['char_Count'] > 140]

In [9]:
testdf.to_csv('Malaysia_period.csv', index=False)

In [7]:
tweetdf = tweetdf[['username', 'date', 'tweet']]
tweetdf.to_csv('Malaysia_period.csv', index=False)